/* Other app */

body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#controls {
    margin: auto;
    max-width: 850px;
    margin-top: 50px;
}

#mainInfo {
    margin: 20px;
    min-height: 350px;
}

#info {
    margin: auto;
    max-width: 850px;
}

.hidden {
    display: none;
}


/* Property */

.property {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    text-transform: capitalize;
}

.property:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.041);
}

.header~.property,
.subheader~.property {
    margin-left: 30px;
}

.subheader {
    font-weight: 600;
    font-size: 17px;
    margin: 12px;
    margin-top: 20px;
}

.header {
    font-weight: 600;
    font-size: 20px;
    margin: 12px;
    margin-left: 6px;
    margin-top: 20px;
}


/* Table */

.table {
    border: 1px solid rgba(0, 0, 0, 0.164);
}

.table-header {
    display: flex;
    text-transform: capitalize;
    font-weight: 600;
}

.table-row {
    display: flex;
}

.table-header div,
.table-row div {
    flex: 1 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-width: 0 0 1px 0;
    padding: 8px;
}


/* Loading */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin-bottom: 30px;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3498db;
    font-weight: 600;
    font-size: 20px;
    overflow: visible;
    z-index: 1000;
}

#backdrop {
    background: rgba(255, 255, 255, 0.699);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}